@font-face {
    font-family: MEID;
    src: url(font/MADE\ GoodTime\ Grotesk.otf);
}
*{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: MEID;
}
body{
    margin: 0;
    padding: 0;
    background: rgb(250, 255, 226);
}
header{
    background: #52ac62;
    height: 60px;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 0 10% 0 10%;

}
.header_logo{
    margin-top: 5px;
    height: 40px;
}
.header_ver{
    display: flex;
    text-align: center;
    align-items: center;
    height: 60px;
}
.header_fixed{
    height: 60px;
}
#header_input{
    width: 300px;
    background: #3e864b;
    border-radius: 30px;
    border: 10px solid #3e864b;
    padding: 0 10px 0 10px;
    font-size: 15px;
    transition: 0.2s;
    outline: none;
    font-family: SF Pro Display;
    letter-spacing: 2px;
    font-weight: normal;
}
#header_input:focus{
    background: #356e3f;
    border: 10px solid #356e3f;
}
#header_input::placeholder{
    opacity: 0.5;
    color: #FFFFFF;
}
#header_menu{
    margin: 0 20px 0 20px;
}
#header_menu > a{
    opacity: 1;
    border-bottom: 4px solid #52ac62;
    transition: 0.2s;
}
#header_menu > a:hover{
    opacity: 0.4;
}
main{
    justify-content: center;
    padding: 50px 200px 50px 200px;
}
div{
    color: #000;
}
hr{
    margin: 60px 0 50px 0;
}
.main_header{
    background: #52ac62;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
    font-size: 40px;
    letter-spacing: 20px;
    color: #FFF;
}
.main_sel{
    display: flex;
    justify-content: center;
}
.main_img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px 0 60px;
    margin-right: 50px;
    background: #FFF;
    border-radius: 60px;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.108);
}
.main_img_logo{
    width: 200px;
}
.main_text{
    margin-left: 25px;
}
.main_h1{
    font-size: 35px;
}
.main_h1_header{
    background: #52ac62;
    font-size: 30px;
    padding: 0 10px 0 10px;
    
}
.main_h2{
    opacity: 0.3;
}
.main_buttom{
    display: flex;
    margin-top: 50px;
}
.main_buttom > a > div{
    border: 4px solid #52ac62;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin-right: 50px;
    font-size: 20px;
}
.main_buttom_all{
    background: #52ac62;
    color: #FFF;
    transition: 0.5s;
}
.main_buttom_shop{
    background: #52ac62;
    color: #FFF;
    transition: 0.5s;
}
.main_buttom_all:hover{
    opacity: 0.5;
}
.main_buttom_shop:hover{
    opacity: 0.5;
}