@font-face {
    font-family: MEID;
    src: url(font/MADE\ GoodTime\ Grotesk.otf);
}
*{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: MEID;
}
body{
    margin: 0;
    padding: 0;
}
header{
    background: #52ac62;
    position: fixed;
    width: 100%;
    height: 60px;
}
main{
    height: 2000px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 0 10% 0 10%;

}
.header_logo{
    margin-top: 5px;
    height: 40px;
}
.header_ver{
    display: flex;
    text-align: center;
    align-items: center;
    height: 60px;
    
}
#header_input{
    width: 300px;
    background: #3e864b;
    border-radius: 30px;
    border: 10px solid #3e864b;
    padding: 0 10px 0 10px;
    font-size: 15px;
    transition: 0.2s;
    outline: none;
    font-family: SF Pro Display;
    letter-spacing: 2px;
    font-weight: normal;
}
#header_input:focus{
    background: #356e3f;
    border: 10px solid #356e3f;
}
#header_input::placeholder{
    opacity: 0.5;
    color: #FFFFFF;
}
#header_menu{
    margin: 0 20px 0 20px;
}
#header_menu > a{
    opacity: 1;
    border-bottom: 4px solid #52ac62;
    transition: 0.2s;
}
#header_menu > a:hover{
    opacity: 0.4;
}

