@font-face {
    font-family: MEID;
    src: url(font/MADE\ GoodTime\ Grotesk.otf);
}
*{
    text-decoration: none;
    color: #3b3b3b;
    font-size: 20px;
    font-family: MEID;
    transition: 1s;
}
body{
    margin: 0;
    padding: 0;
    background: #f1f1f1;
}
header{
    display: flex;
    justify-content: center;
    background: #52ac62;
    padding: 0 200px 0 200px;
}
main{
    display: grid;
    justify-content: center;
    padding: 50px 200px 50px 200px;
}
div{
    color: #3b3b3b;
}
hr{
    margin: 40px 0 30px 0;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 1600px;
}
.header_logo{
    margin-top: 5px;
    height: 40px;
}
.headermenulist {
    display: grid;
    justify-content: center;
    align-items: center;
    color: #FFF;
    border: none;
    font-size: 30px;
    height: 100%;
    width: 0;
}
.headermenu {
    display: none;
}
.headermenu-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.headermenu-content a{
    display: block;
    color: #3b3b3b;
    padding: 15px 50px;
    font-size: 20px;
}
.headermenu-content a:hover {
    opacity: 0.5;
}
.headermenu:hover .headermenu-content {
    display: block;
}
.headermenu:hover .headermenulist {
    color: #366a40;
}
.header_ver{
    display: flex;
    text-align: center;
    align-items: center;
    height: 80px;
}
.header_fixed{
    height: 60px;
}
#header_menu > a{
    color: #FFF;
    margin-left: 50px;
    opacity: 1;
    transition: 0.2s;
    font-size: 30px;
}
#header_menu > a:hover{
    opacity: 0.4;
}
.block_search{
    display: grid;
    align-items: center;
    grid-gap: 1em;
    padding: 40px 60px;
    background: #fff;
    border-radius: 10px;
}
.search{
    background: #f1f1f1;
    border-radius: 30px;
    border: 15px solid #f1f1f1;
    outline: none;
    letter-spacing: 2px;
}
.search:focus{
    color: #3b3b3b;
}
.search::placeholder{
    color: #b4b4b4;
    font-size: 20px;
}
.search_h1_r{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search_rating_block{
    background: #52ac62;
    
}
.search_rating_b{
    color: #fff;
}
.block_h1{
    display: inline-block;
    font-size: 40px;
    letter-spacing: 10px;
}
.search_rating{
    display: flex;
    justify-content: space-between;
    grid-gap: 2em;
}
.search_rating_block{
    padding: 10px 20px;
}
.main_header{
    background: #52ac62;
    display: flex;
    justify-content: space-around;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
}
.main_header > span{
    font-size: 35px;
    color: #FFF;
}
.main_input{
    width: 100%;
    background: #499457;
    border-radius: 30px;
    border: 10px solid #499457;
    padding: 0 10px 0 10px;
    font-size: 15px;
    margin-left: 20px;
    transition: 0.2s;
    outline: none;
    font-family: SF Pro Display;
    letter-spacing: 2px;
    font-weight: normal;
    color: #FFF;
}
.main_input:focus{
    background: #366a40;
    border: 10px solid #366a40;
    color: #FFF;
    font-weight: bold;
}
.main_input::placeholder{
    opacity: 0.5;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
}
.main_sel{
    margin-top: 50px;
    display: flex;
    max-width: 1500px;
    padding: 80px 50px;
    background: #FFF;
    border-radius: 10px;
    
}
.main_img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-right: 50px;
    background: #FFF;
    height: 160px;
    border-radius: 10px;
    
}
#main_h11{
    border-radius: 120px;
    width: 200px;
    
}
#rating{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.color_rating{
    color: #e0de65;
}
#rating > div{
    font-size: 50px;
}
.main_img_logo{
    width: 300px;
}
.main_rating{
    text-align: center;
    box-sizing: border-box;
    background: #52ac62;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    color: #FFF;
    width: 300px;
    margin-top: 20px;
}
.main_text{
    margin-left: 25px;
}
.main_h1{
    font-size: 30px;
}
.main_h1_header{
    background: #3b3b3b;
    color: #FFF;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    font-size: 30px;
}
.main_h2{
    margin-top: 10px;
    opacity: 0.3;
}
.main_buttom{
    display: flex;
    margin-top: 30px;
}
.main_buttom > a > div{
    border: 4px solid #52ac62;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin-right: 50px;
    font-size: 15px;
    
}
.main_buttom_all{
    border: 2px solid #52ac62;
    color: #52ac62;
    transition: 0.5s;
}
.main_buttom_shop{
    background: #52ac62;
    color: #FFF;
    transition: 0.5s;
}
.main_buttom_all:hover{
    opacity: 0.5;
}
.main_buttom_shop:hover{
    opacity: 0.5;
}
@media screen and (max-width: 1300px) {
    #header_menu > a{
        font-size: 22px;
    }
    main{
        padding: 30px;
    }
    header{
        padding: 0 30px 0 30px;
    }
}
@media screen and (max-width: 950px) {
    .main_header{
        background: none;
        margin: 20px 0 20px 0;
        padding: 0 20px;
        border-radius: 0;
        box-sizing: border-box;
        justify-content: left;
    }
    .main_header > span{
        display: none;
    }
    .main_input{
        width: 100%;
        border-radius: 30px;
        background: none;
        border: 3px solid #d0d0d0;
        padding: 10px 20px;
        font-size: 20px;
        margin-left: 0;
        transition: 0.2s;
        outline: none;
        font-family: SF Pro Display;
        letter-spacing: 0;
        font-weight: normal;
        color: #3b3b3b;
    }
    .main_input:focus{
        background: none;
        border: 3px solid #d0d0d0;
        padding: 10px 20px;
        color: #3b3b3b;
        font-weight: normal;
    }
    .main_input::placeholder{
        opacity: 0.5;
        color: #3b3b3b;
        font-size: 20px;
        font-weight: normal;
    }
    .main_sel{
        display: grid;
        padding: 50px 30px;
        margin: 0 20px 50px 20px;
    }
    .main_img{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .main_img_logo{
        width: 100%;
    }
    .main_logo{
        display: grid;
        justify-content: center;
    }
    .main_rating{
        background: #52ac62;
        font-size: 15px;
        margin-top: 0;
    }
    .main_h1{
        font-size: 20px;
    }
    .main_h1_header{
        display: inline-block;
        margin-bottom: 5px;
    }
    .main_img_logo{
        display: grid;
        justify-content: center;
    }
    .main_text{
        margin: 20px 0 0 0;
    }
    .main_buttom{
        display: grid;
    }
    .main_buttom > a{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .main_buttom > a > div{
        width: 100%;
        margin-right: 0;
    }
    .main_buttom_shop{
        margin-top: 15px;
    }
    .block_search{
        margin: 0 20px 50px 20px;
    }
    .search_h1_r{
        display: grid;
    }
    
}
@media screen and (max-width: 950px) {
    #header_menu > a{
        font-size: 18px;
    }
}
@media screen and (max-width: 720px) {
    main{
        padding: 0;
    }
    header{
        padding: 0;
    }
    .header{
        display: flex;
        justify-content: space-between;
        padding: 0 40px 0 40px;
        width: 100%;
    }
    .header_logo{
        height: 30px;
    }
    .header_menu{
        display: flex;
        color: #FFF;
    }
    .header_ver > div > a{
        display: none;
    }
    #header_menu{
        display: none;
    }
    .headermenu {
        display: block;
    }
    .main_header{
        background: none;
        margin: 20px 0 20px 0;
        padding: 0 20px;
        border-radius: 0;
        box-sizing: border-box;
        justify-content: left;
    }
    .main_header > span{
        display: none;
    }
    .main_input{
        width: 100%;
        border-radius: 30px;
        background: none;
        border: 3px solid #d0d0d0;
        padding: 10px 20px;
        font-size: 20px;
        margin-left: 0;
        transition: 0.2s;
        outline: none;
        font-family: SF Pro Display;
        letter-spacing: 0;
        font-weight: normal;
        color: #3b3b3b;
    }
    .main_input:focus{
        background: none;
        border: 3px solid #d0d0d0;
        padding: 10px 20px;
        color: #3b3b3b;
        font-weight: normal;
    }
    .main_input::placeholder{
        opacity: 0.5;
        color: #3b3b3b;
        font-size: 20px;
        font-weight: normal;
    }
    .main_sel{
        display: grid;
        padding: 50px 30px;
        margin: 0 20px 50px 20px;
    }
    .main_img{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .main_img_logo{
        width: 100%;
    }
    .main_logo{
        display: grid;
        justify-content: center;
    }
    .main_rating{
        background: #52ac62;
        font-size: 15px;
        margin-top: 0;
    }
    .main_h1{
        
        font-size: 20px;
    }
    .main_h1_header{
        display: inline-block;
        margin-bottom: 5px;
    }
    .main_img_logo{
        display: grid;
        justify-content: center;
    }
    .main_text{
        margin: 20px 0 0 0;
    }
    .main_buttom{
        display: grid;
    }
    .main_buttom > a{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .main_buttom > a > div{
        width: 100%;
        margin-right: 0;
    }
    .main_buttom_shop{
        margin-top: 15px;
    }
    .search_rating{
        display: grid;
        grid-gap: 0.5em;
    }
    
}
@media screen and (max-width: 320px) {
    main{
        padding: 0;
    }
    header{
        padding: 0;
    }
    .header{
        display: flex;
        justify-content: space-between;
        padding: 0 40px 0 40px;
        width: 100%;
        height: 60px;
    }
    .header_ver{
        display: flex;
        text-align: center;
        align-items: center;
        height: 60px;
    }
    .header_logo{
        height: 22px;
    }
    .header_menu{
        display: flex;
        color: #FFF;
    }
    .header_ver > div > a{
        display: none;
    }
    #header_menu{
        display: none;
    }
    .headermenu {
        display: block;
    }
    .main_header{
        
        background: none;
        margin: 20px 0 20px 0;
        padding: 0 20px;
        border-radius: 0;
        box-sizing: border-box;
        justify-content: center;
    }
    .main_header > span{
        display: none;
    }
    .main_input{
        margin: 0;
        width: 250px;
        border-radius: 30px;
        background: none;
        border: 3px solid #d0d0d0;
        padding: 10px 20px 10px 20px;
        font-size: 15px;
        margin-left: 0;
        transition: 0.2s;
        outline: none;
        font-family: SF Pro Display;
        letter-spacing: 0;
        font-weight: normal;
        color: #3b3b3b;
    }
    .main_input:focus{
        background: none;
        border: 3px solid #d0d0d0;
        padding: 10px 20px 10px 20px;
        color: #3b3b3b;
        font-weight: normal;
    }
    .main_input::placeholder{
        opacity: 0.5;
        color: #3b3b3b;
        font-size: 15px;
        font-weight: normal;
    }
    .main_sel{
        display: grid;
        padding: 50px 30px;
        margin: 0 0 50px 0;
    }
    .main_img{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100px;
    }
    .main_logo{
        display: grid;
        justify-content: center;
    }
    .main_rating{
        background: #52ac62;
        font-size: 10px;
        margin-top: 0;
    }
    .main_h1{
        font-size: 15px;
    }
    .main_h1_header{
        display: inline-block;
        margin-bottom: 5px;
    }
    .main_h2{
        font-size: 13px;
    }
    .main_img_logo{
        display: grid;
        justify-content: center;
    }
    .main_text{
        margin: 20px 0 0 0;
    }
    .main_buttom{
        display: grid;
    }
    .main_buttom > a{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .main_buttom > a > div{
        width: 100%;
        margin-right: 0;
    }
    .main_buttom_shop{
        margin-top: 15px;
    }
    .main_buttom > a > div{
        border: 2px solid #52ac62;
        font-size: 10px;
        padding: 5px 10px;
    }
    .block_search{
        display: grid;
        align-items: center;
        grid-gap: 1em;
        padding: 40px 60px;
        background: #fff;
        border-radius: 10px;
    }
    .search{
        background: #f1f1f1;
        border-radius: 30px;
        border: 15px solid #f1f1f1;
        outline: none;
        letter-spacing: 2px;
    }
    .search:focus{
        color: #3b3b3b;
    }
    .search::placeholder{
        color: #b4b4b4;
        font-size: 20px;
    }
    .search_h1_r{
        display: grid;
        align-items: center;
        justify-content: space-between;
    }
    .search_rating_block{
        background: #52ac62;
    }
    .search_rating_b{
        color: #fff;
    }
    .block_h1{
        display: inline-block;
        font-size: 30px;
        letter-spacing: 10px;
    }
}   