
.main_sel{
    width: 1520px;
    justify-content: center;
}
.contact{
    display: flex;
    
    grid-gap: 4em;
}
.con_content{
    display: grid;
    grid-gap: 2em;
}
.con_img{
    height: 400px;
    border-radius: 60px;
}
.con_h1{
    font-size: 40px;
}
.con_google{
    width: 400px;
}
@media screen and (max-width: 1300px) {
    .main_sel{
        max-width: 520px;
        margin: 20px 20px;
        justify-content: center;
    }
    .contact{
        display: grid;
        grid-gap: 2em;
    }
    .con_content{
        display: grid;
        grid-gap: 2em;
        justify-content: center;
    }
    .con_img{
        height: 400px;
        border-radius: 60px;
    }
    .con_h1{
        display: grid;
        justify-content: center;
        font-size: 40px;
    }
    .con_google{
        width: 400px;
    }
}
@media screen and (max-width: 420px) {
    .main_sel{
        max-width: 280px;
        margin: 20px 20px;
        justify-content: center;
    }
    .contact{
        display: grid;
        grid-gap: 2em;
    }
    .con_content{
        display: grid;
        grid-gap: 2em;
        justify-content: center;
    }
    .con_img{
        height: 300px;
        border-radius: 60px;
    }
    .con_h1{
        display: grid;
        justify-content: center;
        font-size: 40px;
    }
    .con_google{
        width: 300px;
    }
}
@media screen and (max-width: 320px) {
    .main_sel{
        max-width: 220px;
        margin: 20px 20px;
        justify-content: center;
    }
    .contact{
        display: grid;
        grid-gap: 2em;
    }
    .con_content{
        display: grid;
        grid-gap: 2em;
        justify-content: center;
    }
    .con_img{
        display: grid;
        justify-content: center;
        height: 200px;
        border-radius: 60px;
    }
    .con_h1{
        display: grid;
        justify-content: center;
        font-size: 30px;
    }
    .con_google{
        width: 200px;
    }
}